{{ $current := .Page.RelPermalink }}

<div class="series-banner">
    <p align="center" style="font-size:1em; line-height: 1.8em;">
        <em>Written on my honeymoon.</em>
        <br/>
        <em>When the signal was clearest.</em>
    </p>
  <p>This is Part {{ .Get "part" }} of a 3-part series on quantum consciousness, perception, and place.</p>
  
  <ul>
    {{ if eq $current "/posts/the-wave-that-wonders/" }}
      <li><strong>Part 1: <em>The Wave That Wonders</em></strong></li>
    {{ else }}
      <li><a href="/posts/the-wave-that-wonders/">Part 1: <em>The Wave That Wonders</em></a></li>
    {{ end }}

    {{ if eq $current "/posts/cartographies-of-consciousness/" }}
      <li><strong>Part 2: <em>Cartographies of Consciousness</em></strong></li>
    {{ else }}
      <li><a href="/posts/cartographies-of-consciousness/">Part 2: <em>Cartographies of Consciousness</em></a></li>
    {{ end }}

    {{ if eq $current "/posts/quantum-chaos-and-consciousness/" }}
      <li><strong>Part 3: <em>Quantum Chaos and Consciousness</em></strong></li>
    {{ else }}
      <li>Part 3: <em>Coming soon...</em></a></li>
    {{ end }}
  </ul>
</div>